.centrado {
    margin: auto;
    max-width: 300px;
}

.card {
    box-shadow: 2px 2px #888888;
    border-color: beige;
}

.fondo {
    background: url("/assets/img/wall.jpg") repeat;

    opacity: 0.9;
}
