.image {
    width: 40px;
    height: 40px;
}



.centro {
    margin: auto;
    width: 100%;
    padding: 10px;
    margin-left: 15px;
    margin-right: 10px;
    text-align: center;

}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }

  div.sticky {
    position: sticky;
    bottom: 0;
    padding-left: 4rem;
  }